<div class="form-group">
	<label for="{{field.name}}" class="col-sm-2 control-label">
		{{field.metadata.label}}"
		<select name="{{field.name}}" data-ng-model="field.value" required>
			<jq-tooltip ng-show="field.metadata.tooltip" ng-attr-title="{{field.metadata.tooltip|escapeHtml}}"></jq-tooltip>
			<option data-ng-repeat="opt in field.metadata.choices" data-ng-selected="opt.value == field.value"
					value="{{opt.value|escapeHtml}}">
				{{opt.name}}
			</option>
		</select>
	</label>
</div>
