.json-form.form-horizontal legend {
	margin-bottom: 15px;
}

.json-form.form-horizontal .radio,
.json-form.form-horizontal .checkbox,
.json-form.form-horizontal .radio-inline,
.json-form.form-horizontal .checkbox-inline {
	margin-top: 0;
	margin-bottom: 0;
}

.json-form.form-horizontal .radio,
.json-form.form-horizontal .checkbox {
	min-height: 27px;
}

.json-form.form-horizontal .form-group {
	clear: both;
	margin-bottom: 15px;
	vertical-align: middle;
}

@media (min-width: 768px) {
	.json-form.form-horizontal .control-label {
		margin-bottom: 0;
		text-align: right;
	}
}

.json-form .col-sm-2, .json-form .col-sm-10 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 768px) {
	.json-form .col-sm-2, .json-form .col-sm-10 {
		float: left;
	}

	.json-form .col-sm-10 {
		width: 83.33333333%;
	}

	.json-form .col-sm-2 {
		width: 16.66666667%;
	}

	.json-form .col-sm-offset-2 {
		margin-left: 16.66666667%;
	}
}

.json-form .ng-invalid.ng-touched {
	border-color: red;
}
