/*-----------LOGIN AND LOSTPASSWORD-----------*/

#login {
    background-position: center 30px;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: black;
}

.blackLayout #login {
    background-image: url('../images/imscp_logo90.png');
}

.blueLayout #login {
    background-image: url('../images/imscp_logo90.png');
}

.greenLayout #login {
    background-image: url('../images/imscp_logo90.png');
}

.redLayout #login {
    background-image: url('../images/imscp_logo90.png');
}

.yellowLayout #login {
    background-image: url('../images/imscp_logo90.png');
}


/*------------MESSAGES--------------*/

#message_container {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: black;
}

.blackLayout #message_container {
    background-image: url('../images/imscp_logo90.png');
}

.blueLayout #message_container {
    background-image: url('../images/imscp_logo90.png');
}

.greenLayout #message_container {
    background-image: url('../images/imscp_logo90.png');
}

.redLayout #message_container {
    background-image: url('../images/imscp_logo90.png');
}

.yellowLayout #message_container {
    background-image: url('../images/imscp_logo90.png');
}
